*.pyc
*.pyo
*~
run
rteval-build
loadsource
rpm
tarball
*.bz2
*.gz
*.rpt
*.xml
*.o
Makefile.in
aclocal.m4
config.h.in
configure
depcomp
install-sh
missing
build
rpm*
usr
dist/
MANIFEST
.deps
stamp-h1
autom4te.cache/
server/Makefile
server/config.log
server/config.status
server/parser/Makefile
server/parser/config.h
rteval-[0-9]*
